body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("images/background.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.controlButton {
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position: absolute;
}
.bouncy-dancer{
  position: absolute;
  animation-name: oscillating-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.casual-dancer{
  position: absolute;
  height: 150px;
  width: 150px;
}

@keyframes oscillating-rotate {
  from {
    transform: rotate(0deg) translate(-50px, -74px);
  }
  to {
    transform: rotate(360deg) translate(-50px, -74px);
  }
}
