body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("images/background.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.controlButton {
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position: absolute;
}
.bouncy-dancer{
  position: absolute;
  animation-name: oscillating-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.casual-dancer{
  position: absolute;
  height: 150px;
  width: 150px;
}
.leader-dancer{
  position: absolute;
  height: 300px;
}
.conga-line{
  animation-name: circular-translate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 2s;
}

@keyframes oscillating-rotate {
  from {
    transform: rotate(0deg) translate(-50px, -74px);
  }
  to {
    transform: rotate(360deg) translate(-50px, -74px);
  }
}

@keyframes circular-translate {
  0.00%   {transform:translate(0px, 0px);}
  7.35%   {transform:translate(-161px, -175px);}
  10.30%  {transform:translate(-242px, -227px);}
  13.17%  {transform:translate(-333px, -243px);}
  16.06%  {transform:translate(-425px, -226px);}
  19.07%  {transform:translate(-507px, -174px);}
  22.15%  {transform:translate(-563px, -91px);}
  25.00%  {transform:translate(-580px, 0px);}
  27.85%  {transform:translate(-563px, 91 px);}
  30.93%  {transform:translate(-507px, 174px);}
  33.94%  {transform:translate(-425px, 226px);}
  36.83%  {transform:translate(-333px, 243px);}
  39.70%  {transform:translate(-242px, 227px);}
  42.65%  {transform:translate(-161px, 175px);}
  50.00%  {transform:translate(0px,0px);}
  57.35%  {transform:translate(161px, -175px);}
  60.30%  {transform:translate(242px, -227px);}
  63.17%  {transform:translate(333px, -243px);}
  66.06%  {transform:translate(425px, -226px);}
  69.07%  {transform:translate(507px, -174px);}
  72.15%  {transform:translate(563px, -91px);}
  75.00%  {transform:translate(580px, 0px);}
  77.85%  {transform:translate(563px, 91 px);}
  80.93%  {transform:translate(507px, 174px);}
  83.94%  {transform:translate(425px, 226px);}
  86.83%  {transform:translate(333px, 243px);}
  89.70%  {transform:translate(242px, 227px);}
  92.65%  {transform:translate(161px, 175px);}
  100.00% {transform:translate(0px, 0px);}
}
